<!DOCTYPE html>
<html class="h-full" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="htmx-config" content='{"htmxIndicatorStyles": false}'>
  <title>Brisbane Bin Chicken Offering Day</title>
  <link rel="stylesheet" href="/static/css/fonts.css">
  <link rel="stylesheet" href="/static/css/output.css">
  <script src="/static/js/htmx.min.js"></script>
</head>

<body
  class="h-full bg-[url(/static/icons/ibis-footprints-mobile.svg),_url(/static/icons/fence-mobile.svg)] lg:bg-[url(/static/icons/ibis-footprints-desktop.svg),_url(/static/icons/fence-desktop.svg)] bg-[position:top_right,_bottom] [background-repeat:no-repeat,_repeat-x]"
  hx-boost="true">
  <div class="flex flex-col items-center gap-5 lg:gap-10 px-5 py-16 max-w-4xl mx-auto">
    <header class="flex flex-col gap-5 text-center">
      <h1 class="font-bevellier font-semibold text-[40px]/none lg:text-8xl uppercase text-graphite-500">Brisbane Bin
        Chicken
        Offering
        Day</h1>
      <p class="font-satoshi font-normal text-base lg:text-2xl text-graphite-500">Discover what bins to offer our
        feathered
        overlords
        this week!</p>
    </header>
    <main class="flex flex-col gap-5 lg:gap-10 w-full max-w-[496px]">
      <div class="flex flex-col gap-5 lg:gap-6">
        <h2 class="font-bevellier font-semibold text-2xl lg:text-4xl uppercase text-graphite-500 text-center">Search For
          Your
          Address
        </h2>
        {{ template "combobox" . }}
      </div>
      <div id="loading-collection" class="grid place-content-center">
        <div id="collections-container"
          class="flex [.htmx-request_&]:hidden [&.htmx-request]:hidden flex-col items-center gap-2">
        </div>
        <img id="" class="w-12 lg:w-16 hidden [.htmx-request_&]:block [&.htmx-request]:block animate-spin"
          src="/static/icons/ibis.svg">
      </div>
    </main>
  </div>
</body>

</html>