<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brisbane Bin Chicken Offering Day</title>
  <link rel="stylesheet" href="/static/css/output.css">
  <script src="/static/js/htmx.min.js"></script>
</head>

<body hx-boost="true">
  <h1>Brisbane Bin Chicken Day</h1>
  <main id="main">
    <a href="#" hx-on:click="event.preventDefault(); history.back()">Back</a>
    <div id="streets-container">
      <h2>Streets</h2>
      <input id="search" type="text" name="q" value="{{ .Query }}" placeholder="Search"
        hx-get="/suburbs/{{ .SuburbSlug }}/streets" hx-trigger="input changed delay:500ms"
        hx-target="#streets-container" hx-select="#streets-container" hx-swap="outerHTML">
      {{ template "streets_list" . }}
    </div>
  </main>
</body>

</html>